<tr id="item-list-form" hx-target="this" hx-swap="outerHTML">
  <td class="border-0" >
      <form>
        {% csrf_token %}
        <div class="form-row mb-3">
            <div class="col">

    {%  include 'ordering_system/partials/_base_form.html' %}
            <hr>
{#            <label for="id_unit">Unit</label>#}
{#                <input class="form-control#}
{#                {% if form.is_done.errors %} is-invalid {% endif %} "#}
{#                id="id_unit" name="unit" placeholder="Unit" {% if form.unit.value %} value="{{ form.unit.value }}"{% endif %}>#}
            </div>

            <div class="col">
                <button class="btn btn-success btn-sm" hx-post="{% url 'item-create' pk=order_id %}">Save</button>
            </div>
        </div>
        {% if form.name.errors %}<i>{{ form.name.errors }}</i>{% endif %}
        {% if form.is_done.errors %}<i>{{ form.is_done.errors }}</i>{% endif %}
    </form>
  </td>
</tr>
