{% extends 'base.html' %}
{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>Order #{{ order.id }} from {{ order.vendor }}</h2>
        </div>
        <div class="card-body">

            <table class="table table-striped m-0">
                <thead>
                <tr>
                    <th class="border-0" scope="col">quantity</th>
                    <th>Unit</th>
                    <th>cost/unit $</th>
                    <th>catalog #</th>
                    <th>link</th>
                    <th>description</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody id="order-items">
                {% for item in  order.item_set.all %}
                    <tr>
                        <td class="border-0">
                            {{ item.quantity }}
                        </td>
                        <td class="border-0">
                            {{ item.unit }}
                        </td>
                        <td class="border-0">
                            {{ item.cost_per_unit }}
                        </td>
                        <td class="border-0">
                            {{ item.catalog_number }}
                        </td>
                        <td class="border-0">
                            {{ item.link_to_item }}
                        </td>
                        <td class="border-0">
                            {{ item.description|truncatewords:4 }}
                        </td>
                        <td>
                            <button hx-get="{% url 'item-edit' pk=item.pk %}" class="btn btn-primary"
                                    hx-swap="afterbegin" hx-target="#order-items">
                                Edit
                            </button>
                        </td>
                        <td>
                            <form>
                                {% csrf_token %}
                                <button class="btn btn-danger  " hx-post="{% url 'item-delete' pk=item.pk %}"
                                        hx-confirm="Are you sure?">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
                {% include "ordering_system/order_items.html" with order=order %}
                </tbody>
            </table>
            <div class="card-body " hx-target="#order-items" hx-swap="beforeend">
                <button hx-get="{% url 'item-create' pk=order.pk %}" type="submit" class="btn btn-primary ">
                    <i class="fas fa-plus"></i>
                    Add An Item To This Order
                </button>

            </div>
        </div>
    </div>
{% endblock %}
